* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 1.5rem;
}

.calculator {
  width: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 0 1px silver;
  /* padding-bottom: 1rem; */
}

.display {
  border: none;
  width: 100%;
  height: 5rem;
  padding: 0.625rem;
  font-size: 2rem;
  text-align: right;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
}

.calc-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
}

button {
  width: 3.125rem;
  height: 3.125rem;
  border: none;
  outline: none;
  border-radius: 40%;
  margin: 0.625rem;
  font-size: 1.5rem;
  background-color: #fafafa;
  color: #564c4d;
}

button:hover {
  cursor: pointer;
}

#clear {
  color: #ff893a;
}

.operator {
  color: #74b72e;
}

#equals {
  background-color: #74b72e;
  color: #fff;
}
